.view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .view.top{
      display: flex;
  }
  img.ima {
    
    width: 100%;
}
 .col-1 {
    flex: 1 1 25rem;
  }
  .col-2 {
    flex: 2 1 30rem;
  }
  .cart {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .cart-body {
    padding: 1rem;
  }
  .cart-body > * {
    margin-bottom: 0.5rem;
  }
  button{
      margin-top: 10rem;
  }